`ifndef I2C_ENV_SV
	`define I2C_ENV_SV

class i2c_env extends uvm_env;
  
  i2c_agent 		agent;
  i2c_scoreboard 	scb;
  
  `uvm_component_utils(i2c_env)
  
  function new (string name = "", uvm_component parent);
    super.new(name, parent);
  endfunction
  

  
  virtual function void build_phase (uvm_phase phase);
    super.build_phase(phase);
    agent 	= i2c_agent::type_id::create ("agent", this);
	scb     = i2c_scoreboard::type_id::create ("scb", this);
    
  endfunction
  
  virtual function void connect_phase (uvm_phase phase);
    super.connect_phase(phase);
    
    agent.monitor.output_port.connect(scb.item_collected_export);
    
  endfunction
  
endclass

`endif